<div class="container mt-4">
  <h3>Dados Pessoais</h3>
  <hr />
  <div class="row">
    <div class="col-md-6"><strong>Plano:</strong> {{ plano }}</div>
    <div class="col-md-6"><strong>Nome:</strong> {{ nome }}</div>
    <div class="col-md-6"><strong>Sexo:</strong> Masculino</div>
    <div class="col-md-6">
      <strong>Nascimento:</strong> {{ dataNascimento }}
    </div>
    <div class="col-md-6">
      <strong>Idade:</strong> 23 anos
    </div>
  </div>

  <h3 class="mt-4">Documentos</h3>
  <hr />
  <div class="row">
    <div class="col-md-6"><strong>RG:</strong> {{ rg }}</div>
    <div class="col-md-6"><strong>CPF:</strong> {{ cpf }}</div>
  </div>

  <h3 class="mt-4">Endereço</h3>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <strong>Logradouro:</strong> Rua Francisco Rollemberg Ramos
    </div>
    <div class="col-md-6"><strong>Número:</strong> 54</div>
    <div class="col-md-6"><strong>Bairro:</strong> Conjunto Orlando Dantas</div>
    <div class="col-md-6"><strong>Município:</strong> Aracaju</div>
    <div class="col-md-6"><strong>Estado:</strong> SE</div>
    <div class="col-md-6"><strong>Complemento:</strong> Bairro São Conrado</div>
    <div class="col-md-6"><strong>CEP:</strong> {{ cep }}</div>
  </div>

  <h3 class="mt-4">Contato</h3>
  <hr />
  <div class="row">
    <div class="col-md-6"><strong>Telefone:</strong> {{ telefone }}</div>
    <div class="col-md-6"><strong>Email:</strong> {{ email }}</div>
  </div>
</div>
