<!-- 
  Template para o cadastro e edição de professores.
  Exibe o formulário com os campos do professor e do endereço.
-->
<div class="professor-cadastro container">
  <h2>{{ isEdit ? "Editar" : "Cadastrar" }} Professor</h2>
  <form [formGroup]="professorForm" (ngSubmit)="salvar()">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input
        id="nome"
        formControlName="nome"
        type="text"
        class="form-control"
        placeholder="Nome Completo do Usuário"
        onkeypress="return /[a-zA-Z\s]/i.test(event.key)"
      />
      <div
        *ngIf="
          professorForm.get('nome')?.invalid &&
          professorForm.get('nome')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('nome')?.errors?.['required']"
          >Nome é obrigatório.</small
        >
        <small *ngIf="professorForm.get('nome')?.errors?.['pattern']"
          >Nome inválido.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input
        id="login"
        formControlName="login"
        type="text"
        class="form-control"
        placeholder="nome.sobrenome"
        onkeypress="return /[a-zA-Z.]/i.test(event.key)"
      />
      <div
        *ngIf="
          professorForm.get('login')?.invalid &&
          professorForm.get('login')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('login')?.errors?.['required']"
          >Login é obrigatório.</small
        >
        <small *ngIf="professorForm.get('login')?.errors?.['pattern']"
          >Login inválido.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input
        id="senha"
        formControlName="senha"
        type="password"
        class="form-control"
        placeholder="Mínimo 4 caracteres"
      />
      <div
        *ngIf="
          professorForm.get('senha')?.invalid &&
          professorForm.get('senha')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('senha')?.errors?.['required']"
          >Senha é obrigatória.</small
        >
        <small *ngIf="professorForm.get('senha')?.errors?.['minlength']"
          >Senha deve ter pelo menos 4 caracteres.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input
        id="cpf"
        formControlName="cpf"
        type="text"
        class="form-control"
        placeholder="000.000.000-00"
        maxlength="14"
        (input)="formatarCPF()"
        (blur)="validarCPF()"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
      <div
        *ngIf="
          professorForm.get('cpf')?.invalid && professorForm.get('cpf')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('cpf')?.errors?.['required']"
          >CPF é obrigatório.</small
        >
        <small *ngIf="professorForm.get('cpf')?.errors?.['pattern']"
          >CPF inválido.</small
        >
      </div>
    </div>
    <!-- Demais campos do professor -->
    <div class="mb-3">
      <label for="rg" class="form-label">RG</label>
      <input
        id="rg"
        formControlName="rg"
        type="text"
        class="form-control"
        placeholder="00.000.000-0"
        maxlength="12"
        (input)="formatarRG()"
        (blur)="validarRG()"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
      <div
        *ngIf="
          professorForm.get('rg')?.invalid && professorForm.get('rg')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('rg')?.errors?.['required']"
          >RG é obrigatório.</small
        >
        <small *ngIf="professorForm.get('rg')?.errors?.['pattern']"
          >RG inválido.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="dataNascimento" class="form-label">Data de Nascimento</label>
      <input
        id="dataNascimento"
        formControlName="dataNascimento"
        type="date"
        class="form-control"
      />
      <div
        *ngIf="
          professorForm.get('dataNascimento')?.invalid &&
          professorForm.get('dataNascimento')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('dataNascimento')?.errors?.['required']"
          >Data de nascimento é obrigatória.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="email@ex.com"
      />
      <div
        *ngIf="
          professorForm.get('email')?.invalid &&
          professorForm.get('email')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('email')?.errors?.['required']"
          >E-mail é obrigatório.</small
        >
        <small *ngIf="professorForm.get('email')?.errors?.['email']"
          >E-mail inválido.</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone</label>
      <input
        id="telefone"
        formControlName="telefone"
        type="text"
        class="form-control"
        placeholder="(00) 00000-0000"
        maxlength="15"
        (input)="formatarTelefone()"
        (blur)="validarTelefone()"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
      <div
        *ngIf="
          professorForm.get('telefone')?.invalid &&
          professorForm.get('telefone')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="professorForm.get('telefone')?.errors?.['required']"
          >Telefone é obrigatório.</small
        >
        <small *ngIf="professorForm.get('telefone')?.errors?.['pattern']"
          >Telefone inválido.</small
        >
      </div>
    </div>

    <!-- Grupo de Endereço -->
    <fieldset formGroupName="endereco" class="mb-3">
      <legend>Endereço</legend>
      <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <input
          id="estado"
          formControlName="estado"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="
            professorForm.get('endereco.estado')?.invalid &&
            professorForm.get('endereco.estado')?.touched
          "
          class="text-danger"
        >
          <small
            *ngIf="professorForm.get('endereco.estado')?.errors?.['required']"
            >Estado é obrigatório.</small
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input
          id="cidade"
          formControlName="cidade"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="
            professorForm.get('endereco.cidade')?.invalid &&
            professorForm.get('endereco.cidade')?.touched
          "
          class="text-danger"
        >
          <small
            *ngIf="professorForm.get('endereco.cidade')?.errors?.['required']"
            >Cidade é obrigatória.</small
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input
          id="bairro"
          formControlName="bairro"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="
            professorForm.get('endereco.bairro')?.invalid &&
            professorForm.get('endereco.bairro')?.touched
          "
          class="text-danger"
        >
          <small
            *ngIf="professorForm.get('endereco.bairro')?.errors?.['required']"
            >Bairro é obrigatório.</small
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="logradouro" class="form-label">Logradouro</label>
        <input
          id="logradouro"
          formControlName="logradouro"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="
            professorForm.get('endereco.logradouro')?.invalid &&
            professorForm.get('endereco.logradouro')?.touched
          "
          class="text-danger"
        >
          <small
            *ngIf="professorForm.get('endereco.logradouro')?.errors?.['required']"
            >Logradouro é obrigatório.</small
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="numero" class="form-label">Número</label>
        <input
          id="numero"
          formControlName="numero"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="
            professorForm.get('endereco.numero')?.invalid &&
            professorForm.get('endereco.numero')?.touched
          "
          class="text-danger"
        >
          <small
            *ngIf="professorForm.get('endereco.numero')?.errors?.['required']"
            >Número é obrigatório.</small
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="cep" class="form-label">CEP</label>
        <input
          id="cep"
          formControlName="cep"
          type="text"
          class="form-control"
          placeholder="00000-000"
          maxlength="9"
          (input)="formatarCEP()"
          onkeypress="return /[0-9]/i.test(event.key)"
        />
        <div
          *ngIf="
            professorForm.get('endereco.cep')?.invalid &&
            professorForm.get('endereco.cep')?.touched
          "
          class="text-danger"
        >
          <small *ngIf="professorForm.get('endereco.cep')?.errors?.['required']"
            >CEP é obrigatório.</small
          >
          <small *ngIf="professorForm.get('endereco.cep')?.errors?.['pattern']"
            >CEP inválido.</small
          >
        </div>
      </div>
    </fieldset>

    <div class="actions">
      <button type="button" class="btn btn-secondary voltar" (click)="voltar()">
        Voltar
      </button>
      <button type="submit" class="btn btn-primary salvar">
        {{ isEdit ? "Salvar" : "Cadastrar" }}
      </button>
    </div>
  </form>
</div>
