<div class="atividade-cadastro">
  <h2>{{ isEdit ? "Editar" : "Cadastrar" }} Atividade</h2>
  <form [formGroup]="atividadeForm" (ngSubmit)="salvar()">
    <div>
      <label for="nome">Nome</label>
      <input id="nome" formControlName="nome" type="text" />
    </div>
    <div>
      <label for="descricao">Descrição</label>
      <textarea id="descricao" formControlName="descricao"></textarea>
    </div>
    <div>
      <label for="horaInicio">Hora de Início</label>
      <input id="horaInicio" formControlName="horaInicio" type="time" />
    </div>
    <div>
      <label for="horaFim">Hora de Fim</label>
      <input id="horaFim" formControlName="horaFim" type="time" />
    </div>
    <div>
      <label for="diasSemana">Dias da Semana</label>
      <input
        id="diasSemana"
        formControlName="diasSemana"
        type="text"
        placeholder="Ex: Segunda,Quarta,Sexta"
      />
    </div>
    <div formGroupName="professor">
      <label for="professorId">ID do Professor</label>
      <input id="professorId" formControlName="id" type="number" />
    </div>
    <!-- Você pode optar por deixar a propriedade 'clientes' ser manipulada via outro fluxo -->
    <div class="actions">
      <button type="button" class="voltar" (click)="voltar()">Voltar</button>
      <button type="submit" class="salvar">
        {{ isEdit ? "Salvar" : "Cadastrar" }}
      </button>
    </div>
  </form>
</div>
