<div class="atividade-list container">
  <div class="alert alert-warning" role="alert">
    Não é necessário realizar inscrição prévia para participar das atividades.
    Consulte os detalhes na descrição, verifique os horários e compareça
    conforme sua disponibilidade.
  </div>
  <div class="header mb-3">
    <button class="btn btn-success cadastrar" (click)="cadastrar()">
      Cadastrar Atividade
    </button>
    <div class="search d-flex">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Buscar por nome"
        [(ngModel)]="searchNome"
        name="searchNome"
      />
      <button class="btn btn-primary" (click)="search()">Buscar</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Horário</th>
        <th>Dias da Semana</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of atividades">
        <td>{{ a.nome }}</td>
        <td>{{ a.descricao }}</td>
        <td>{{ a.horaInicio }} - {{ a.horaFim }}</td>
        <td>{{ a.diasSemana }}</td>
        <td class="actions">
          <button class="btn btn-warning editar" (click)="editAtividade(a.id)">
            Editar
          </button>
          <button
            class="btn btn-danger excluir"
            (click)="deleteAtividade(a.id)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
