<div class="cliente-list container">
  <div class="header mb-3">
    <button class="btn btn-success cadastrar" (click)="cadastrar()">
      Cadastrar Cliente
    </button>
    <div class="search d-flex">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Buscar por nome"
        [(ngModel)]="searchNome"
        name="searchNome"
      />
      <input
        type="text"
        class="form-control me-2"
        placeholder="Buscar por CPF"
        [(ngModel)]="searchCpf"
        name="searchCpf"
      />
      <button class="btn btn-primary" (click)="search()">Buscar</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes">
        <td>{{ c.nome }}</td>
        <td>{{ c.cpf }}</td>
        <td class="actions">
          <button class="btn btn-warning editar" (click)="editCliente(c.id)">
            Editar
          </button>
          <button class="btn btn-danger excluir" (click)="deleteCliente(c.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
