<div class="cliente-cadastro">
  <h2>{{ isEdit ? "Editar" : "Cadastrar" }} Cliente</h2>
  <form [formGroup]="clienteForm" (ngSubmit)="salvar()">
    <div>
      <label for="nome">Nome</label>
      <input
        id="nome"
        formControlName="nome"
        type="text"
        placeholder="Nome Completo do Usuário"
        onkeypress="return /[a-zA-Z\s]/i.test(event.key)"
      />
      <div
        *ngIf="
          clienteForm.get('nome')?.invalid && clienteForm.get('nome')?.touched
        "
      >
        <small *ngIf="clienteForm.get('nome')?.errors?.['required']"
          >Nome é obrigatório.</small
        >
        <small *ngIf="clienteForm.get('nome')?.errors?.['pattern']"
          >Nome inválido.</small
        >
      </div>
    </div>
    <div>
      <label for="login">Login</label>
      <input
        id="login"
        formControlName="login"
        type="text"
        placeholder="nome.sobrenome"
        onkeypress="return /[a-zA-Z.]/i.test(event.key)"
      />
      <div
        *ngIf="
          clienteForm.get('login')?.invalid && clienteForm.get('login')?.touched
        "
      >
        <small *ngIf="clienteForm.get('login')?.errors?.['required']"
          >Login é obrigatório.</small
        >
        <small *ngIf="clienteForm.get('login')?.errors?.['pattern']"
          >Login inválido.</small
        >
      </div>
    </div>
    <div>
      <label for="senha">Senha</label>
      <input
        id="senha"
        formControlName="senha"
        type="password"
        placeholder="Mínimo 4 caracteres"
      />
      <div
        *ngIf="
          clienteForm.get('senha')?.invalid && clienteForm.get('senha')?.touched
        "
      >
        <small *ngIf="clienteForm.get('senha')?.errors?.['required']"
          >Senha é obrigatória.</small
        >
        <small *ngIf="clienteForm.get('senha')?.errors?.['minlength']"
          >Senha deve ter pelo menos 4 caracteres.</small
        >
      </div>
    </div>
    <div>
      <label for="cpf">CPF</label>
      <input
        id="cpf"
        formControlName="cpf"
        type="text"
        placeholder="000.000.000-00"
        maxlength="14"
        (input)="formatarCPF()"
        (blur)="validarCPF()"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
      <div
        *ngIf="
          clienteForm.get('cpf')?.invalid && clienteForm.get('cpf')?.touched
        "
      >
        <small *ngIf="clienteForm.get('cpf')?.errors?.['required']"
          >CPF é obrigatório.</small
        >
        <small *ngIf="clienteForm.get('cpf')?.errors?.['pattern']"
          >CPF inválido.</small
        >
      </div>
    </div>
    <div>
      <label for="rg">RG</label>
      <input
        id="rg"
        formControlName="rg"
        type="text"
        placeholder="00.000.000-0"
        maxlength="12"
        (input)="formatarRG()"
        (blur)="validarRG()"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
      <div
        *ngIf="clienteForm.get('rg')?.invalid && clienteForm.get('rg')?.touched"
      >
        <small *ngIf="clienteForm.get('rg')?.errors?.['required']"
          >RG é obrigatório.</small
        >
        <small *ngIf="clienteForm.get('rg')?.errors?.['pattern']"
          >RG inválido.</small
        >
      </div>
    </div>
    <div>
      <label for="dataNascimento">Data de Nascimento</label>
      <input id="dataNascimento" formControlName="dataNascimento" type="date" />
      <div
        *ngIf="
          clienteForm.get('dataNascimento')?.invalid &&
          clienteForm.get('dataNascimento')?.touched
        "
      >
        <small *ngIf="clienteForm.get('dataNascimento')?.errors?.['required']"
          >Data de nascimento é obrigatória.</small
        >
      </div>
    </div>
    <div>
      <label for="email">E-mail</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="email@ex.com"
      />
      <div
        *ngIf="
          clienteForm.get('email')?.invalid && clienteForm.get('email')?.touched
        "
      >
        <small *ngIf="clienteForm.get('email')?.errors?.['required']"
          >E-mail é obrigatório.</small
        >
        <small *ngIf="clienteForm.get('email')?.errors?.['email']"
          >E-mail inválido.</small
        >
      </div>
    </div>
    <div>
      <label for="telefone">Telefone</label>
      <input
        id="telefone"
        formControlName="telefone"
        type="text"
        placeholder="(00) 00000-0000"
        maxlength="15"
        (input)="formatarTelefone()"
        (blur)="validarTelefone()"
        onkeypress="return /[0-9]/i.test(event.key)"
      />
      <div
        *ngIf="
          clienteForm.get('telefone')?.invalid &&
          clienteForm.get('telefone')?.touched
        "
      >
        <small *ngIf="clienteForm.get('telefone')?.errors?.['required']"
          >Telefone é obrigatório.</small
        >
        <small *ngIf="clienteForm.get('telefone')?.errors?.['pattern']"
          >Telefone inválido.</small
        >
      </div>
    </div>

    <fieldset formGroupName="endereco">
      <legend>Endereço</legend>
      <div>
        <label for="estado">Estado</label>
        <input id="estado" formControlName="estado" type="text" />
        <div
          *ngIf="
            clienteForm.get('endereco.estado')?.invalid &&
            clienteForm.get('endereco.estado')?.touched
          "
        >
          <small
            *ngIf="clienteForm.get('endereco.estado')?.errors?.['required']"
            >Estado é obrigatório.</small
          >
        </div>
      </div>
      <div>
        <label for="cidade">Cidade</label>
        <input id="cidade" formControlName="cidade" type="text" />
        <div
          *ngIf="
            clienteForm.get('endereco.cidade')?.invalid &&
            clienteForm.get('endereco.cidade')?.touched
          "
        >
          <small
            *ngIf="clienteForm.get('endereco.cidade')?.errors?.['required']"
            >Cidade é obrigatória.</small
          >
        </div>
      </div>
      <div>
        <label for="bairro">Bairro</label>
        <input id="bairro" formControlName="bairro" type="text" />
        <div
          *ngIf="
            clienteForm.get('endereco.bairro')?.invalid &&
            clienteForm.get('endereco.bairro')?.touched
          "
        >
          <small
            *ngIf="clienteForm.get('endereco.bairro')?.errors?.['required']"
            >Bairro é obrigatório.</small
          >
        </div>
      </div>
      <div>
        <label for="logradouro">Logradouro</label>
        <input id="logradouro" formControlName="logradouro" type="text" />
        <div
          *ngIf="
            clienteForm.get('endereco.logradouro')?.invalid &&
            clienteForm.get('endereco.logradouro')?.touched
          "
        >
          <small
            *ngIf="clienteForm.get('endereco.logradouro')?.errors?.['required']"
            >Logradouro é obrigatório.</small
          >
        </div>
      </div>
      <div>
        <label for="numero">Número</label>
        <input id="numero" formControlName="numero" type="text" />
        <div
          *ngIf="
            clienteForm.get('endereco.numero')?.invalid &&
            clienteForm.get('endereco.numero')?.touched
          "
        >
          <small
            *ngIf="clienteForm.get('endereco.numero')?.errors?.['required']"
            >Número é obrigatório.</small
          >
        </div>
      </div>
      <div>
        <label for="cep">CEP</label>
        <input
          id="cep"
          formControlName="cep"
          type="text"
          placeholder="00000-000"
          maxlength="9"
          (input)="formatarCEP()"
          onkeypress="return /[0-9]/i.test(event.key)"
        />
        <div
          *ngIf="
            clienteForm.get('endereco.cep')?.invalid &&
            clienteForm.get('endereco.cep')?.touched
          "
        >
          <small *ngIf="clienteForm.get('endereco.cep')?.errors?.['required']"
            >CEP é obrigatório.</small
          >
          <small *ngIf="clienteForm.get('endereco.cep')?.errors?.['pattern']"
            >CEP inválido.</small
          >
        </div>
      </div>
    </fieldset>

    <!-- Selecionar o plano -->
    <div [formGroupName]="'plano'">
      <label for="plano">Plano</label>
      <select id="plano" formControlName="id">
        <option [ngValue]="null">Selecione um Plano</option>
        <option *ngFor="let p of planos" [value]="p.id">
          {{ p.nome }} - {{ p.valor | currency }}
        </option>
      </select>
      <div
        *ngIf="
          clienteForm.get('plano.id')?.invalid &&
          clienteForm.get('plano.id')?.touched
        "
      >
        <small *ngIf="clienteForm.get('plano.id')?.errors?.['required']"
          >Plano é obrigatório.</small
        >
      </div>
    </div>

    <div class="actions">
      <button type="button" class="voltar" (click)="voltar()">Voltar</button>
      <button type="submit" class="salvar">
        {{ isEdit ? "Salvar" : "Cadastrar" }}
      </button>
    </div>
  </form>
</div>
