<div class="exercicio-list container">
  <div class="header mb-3">
    <button class="btn btn-success cadastrar" (click)="cadastrar()">
      Cadastrar Exercício
    </button>
    <div class="search d-flex">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Buscar por nome"
        [(ngModel)]="searchNome"
        name="searchNome"
      />
      <button class="btn btn-primary" (click)="search()">Buscar</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Carga</th>
        <th>Repetição</th>
        <th>Séries</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ex of exercicios">
        <td>{{ ex.nome }}</td>
        <td>{{ ex.carga }}</td>
        <td>{{ ex.repeticao }}</td>
        <td>{{ ex.series }}</td>
        <td class="actions">
          <button class="btn btn-warning editar" (click)="editExercicio(ex.id)">
            Editar
          </button>
          <button
            class="btn btn-danger excluir"
            (click)="deleteExercicio(ex.id)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
