<div>
  <h2>Lista de Treinos</h2>
  <button *ngIf="tipoUsuario === 'professor'" (click)="novoTreino()">
    Novo Treino
  </button>

  <div class="treino-card" *ngFor="let treino of treinos">
    <h3>{{ treino.descricao }}</h3>
    <p>Data: {{ treino.dataCriacao }}</p>
    <p *ngIf="treino.cliente">Cliente: {{ treino.cliente.nome }}</p>
    <p *ngIf="treino.professor">Professor: {{ treino.professor.nome }}</p>

    <button
      *ngIf="tipoUsuario === 'professor' && treino.id"
      (click)="editarTreino(treino.id!)"
    >
      Editar
    </button>
    <button
      *ngIf="tipoUsuario === 'professor' && treino.id"
      (click)="excluirTreino(treino.id!)"
    >
      Excluir
    </button>
  </div>
</div>
