<div class="plano-cadastro">
  <h2>{{ isEdit ? "Editar" : "Cadastrar" }} Plano</h2>
  <form [formGroup]="planoForm" (ngSubmit)="salvar()">
    <div>
      <label for="nome">Nome</label>
      <input
        id="nome"
        formControlName="nome"
        type="text"
        placeholder="Digite o nome"
        maxlength="50"
      />
      <div
        *ngIf="planoForm.get('nome')?.invalid && planoForm.get('nome')?.touched"
      >
        <small *ngIf="planoForm.get('nome')?.errors?.['required']"
          >Nome é obrigatório.</small
        >
        <small *ngIf="planoForm.get('nome')?.errors?.['pattern']"
          >Nome deve conter apenas letras e espaços.</small
        >
        <small *ngIf="planoForm.get('nome')?.errors?.['maxlength']"
          >Nome deve ter no máximo 50 caracteres.</small
        >
      </div>
    </div>
    <div>
      <label for="valor">Valor</label>
      <input
        id="valor"
        formControlName="valor"
        type="number"
        step="0.01"
        placeholder="Digite o valor"
      />
      <div
        *ngIf="
          planoForm.get('valor')?.invalid && planoForm.get('valor')?.touched
        "
      >
        <small *ngIf="planoForm.get('valor')?.errors?.['required']"
          >Valor é obrigatório.</small
        >
        <small *ngIf="planoForm.get('valor')?.errors?.['min']"
          >Valor deve ser positivo.</small
        >
      </div>
    </div>
    <div>
      <label for="descricao">Descrição</label>
      <textarea
        id="descricao"
        formControlName="descricao"
        placeholder="Digite a descrição"
        maxlength="255"
      ></textarea>
      <div
        *ngIf="
          planoForm.get('descricao')?.invalid &&
          planoForm.get('descricao')?.touched
        "
      >
        <small *ngIf="planoForm.get('descricao')?.errors?.['maxlength']"
          >Descrição deve ter no máximo 255 caracteres.</small
        >
      </div>
    </div>
    <div class="actions">
      <button type="button" class="voltar" (click)="voltar()">Voltar</button>
      <button type="submit" class="salvar">
        {{ isEdit ? "Salvar" : "Cadastrar" }}
      </button>
    </div>
  </form>
</div>
