:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: none;
  background: none;
  box-shadow: none;
}

mat-card {
  max-width: 400px;
  width: 100%;
  margin: 0 1rem;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

mat-card-content,
mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-form-field,
button[mat-raised-button] {
  width: 100%;
}
