<div class="container mt-4">
  <h2>Consultar Professor</h2>
  <form (ngSubmit)="consultarProfessor(cpf.value)">
    <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        #cpf
        placeholder="Digite o CPF"
      />
    </div>
    <button type="submit" class="btn btn-primary">Consultar</button>
  </form>

  <div *ngIf="professor" class="mt-4">
    <h3>Dados do Professor</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Nome:</strong> {{ professor.nome }}
      </li>
      <li class="list-group-item">
        <strong>Endereço:</strong> {{ professor.endereco }}
      </li>
      <li class="list-group-item">
        <strong>Telefone:</strong> {{ professor.telefone }}
      </li>
      <li class="list-group-item"><strong>CPF:</strong> {{ professor.cpf }}</li>
      <li class="list-group-item"><strong>RG:</strong> {{ professor.rg }}</li>
      <li class="list-group-item">
        <strong>Data de Nascimento:</strong> {{ professor.dataNascimento }}
      </li>
      <li class="list-group-item">
        <strong>Email:</strong> {{ professor.email }}
      </li>
      <li class="list-group-item"><strong>CEP:</strong> {{ professor.cep }}</li>
    </ul>
    <button class="btn btn-warning mt-3" (click)="atualizarProfessor()">
      Atualizar Professor
    </button>
    <button class="btn btn-danger mt-3" (click)="excluirProfessor()">
      Excluir Professor
    </button>
  </div>
</div>
