<div class="side-menu">
  <ul>
    <li>
      <a routerLink="/atendentes"><i class="fa fa-users"></i> Atendentes</a>
    </li>
    <li>
      <a routerLink="/atividades"><i class="fa fa-calendar"></i> Atividades</a>
    </li>
    <li>
      <a routerLink="/clientes"><i class="fa fa-user"></i> Clientes</a>
    </li>
    <li>
      <a routerLink="/dados-pessoais"
        ><i class="fa fa-address-card"></i> Dados Pessoais</a
      >
    </li>
    <li>
      <a routerLink="/planos"><i class="fa fa-file"></i> Planos</a>
    </li>
    <li>
      <a routerLink="/professores"><i class="fa fa-users"></i> Professores</a>
    </li>
    <li>
      <a routerLink="/treinos"><i class="fa fa-futbol-o"></i> Treinos</a>
    </li>
  </ul>
  <div class="logout">
    <button (click)="deslogar()"><i class="fa fa-sign-out"></i> Sair</button>
  </div>
</div>
