.content {
  display: flex;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #007bff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1000; /* Garante que o menu fique acima do conteúdo */
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin: 0;
}

.side-menu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.5s;
}

.side-menu a i {
  margin-right: 10px;
}

.side-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s;
}

.side-menu a:hover::after {
  width: 100%;
}

.logout {
  padding: 20px;
}

.logout button {
  width: 100%;
  padding: 15px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout button i {
  margin-right: 10px;
  color: #fff;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
  transition: margin-left 0.3s ease; /* Adiciona transição suave */
}

.mobile-menu-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100; /* Garante que o botão fique acima do menu */
}

@media (max-width: 768px) {
  .side-menu {
    transform: translateX(-100%);
    display: none !important;
  }
  .side-menu.mobile-menu-open {
    transform: translateX(0);
  }
  .main-content {
    margin-left: 0;
    margin-left: 0 !important;
  }
  .mobile-menu-button {
    display: block;
  }
  .logout {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1100;
    margin: 0;
  }
}
