<div class="content">
  <div
    class="side-menu bg-primary text-white d-flex flex-column"
    [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen }"
    *ngIf="showMenu && !isMobile"
  >
    <div class="menu-header p-3">
      <h4 class="m-0">Menu</h4>
      <button
        class="btn btn-outline-light d-md-none"
        (click)="toggleMobileMenu()"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/atendentes"
          ><i class="fa fa-users"></i> Atendentes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/atividades"
          ><i class="fa fa-calendar"></i> Atividades</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/clientes"
          ><i class="fa fa-user"></i> Clientes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/dados-pessoais"
          ><i class="fa fa-address-card"></i> Dados Pessoais</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/planos"
          ><i class="fa fa-file"></i> Planos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/professores"
          ><i class="fa fa-users"></i> Professores</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/treinos"
          ><i class="fa fa-futbol-o"></i> Treinos</a
        >
      </li>
    </ul>
    <div class="logout mt-auto p-3" *ngIf="!router.url.includes('/login')">
      <button class="btn btn-danger w-100" (click)="deslogar()">
        <i class="fa fa-sign-out"></i> Sair
      </button>
    </div>
  </div>

  <!-- Botão de sair fora do side menu (mobile) + Botão para Treinos -->
  <div
    class="logout d-flex flex-column gap-2"
    *ngIf="isMobile && !router.url.includes('/login')"
  >
    <button class="btn btn-danger" (click)="deslogar()">
      <i class="fa fa-sign-out"></i> Sair
    </button>
    <button
      class="btn btn-primary"
      *ngIf="router.url.includes('/dados-pessoais')"
      (click)="scrollToTreinos()"
    >
      Ir para Treinos
    </button>
  </div>

  <main
    class="main-content"
    [ngStyle]="{ 'margin-left': showMenu ? '250px' : '0' }"
  >
    <button
      class="mobile-menu-button btn btn-primary d-md-none"
      (click)="toggleMobileMenu()"
      *ngIf="showMenu && !isMobile"
    >
      <i class="fa fa-bars"></i>
    </button>
    <router-outlet></router-outlet>
  </main>
</div>
