.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-nav-list a {
  font-size: 1.2rem; /* Fonte maior */
}

.mat-nav-list a mat-icon {
  margin-right: 10px;
}

.logout {
  padding: 20px;
}

.logout button {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d32f2f; /* Vermelho moderno */
  color: white;
}

.logout button mat-icon {
  margin-right: 10px;
  color: white;
}

.main-content {
  padding: 20px;
  box-sizing: border-box;
}
